.main-random {
  font-display: block;
  font-family: monospaces;
  font-weight: 500;
  font-size: 100px;
  letter-spacing: 30px;
  text-shadow: brown 3px;
}

.mainrandoms {
  font-family: monospaces;
  letter-spacing: 10px;
}
