.App {
  text-align: center;
}

.navbar {
  background-color: tan;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.navbar h4 {
  cursor: pointer;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
}

.navbar ul > li {
  padding: 20px 30px;
}

.navbar li > a {
  padding: 20px 0; /* 30px */
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.navbar li > a:hover {
  background-color: gold;
}

/* .navbar {
  background-color: #ff69b4;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  h4 {
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0px;

    li {
      padding: 20px 30px;
      a {
        padding: 20px 0;
        cursor: pointer;
        text-decoration: none;
        color: black;
      }

      &:hover {
        background-color: pink;
      }
    }
  }
} */
