.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.navbar {
  background-color: tan;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar h4 {
  cursor: pointer;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
}

.navbar ul > li {
  padding: 20px 30px;
}

.navbar li > a {
  padding: 20px 0; /* 30px */
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.navbar li > a:hover {
  background-color: gold;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 0 20px;
}

.footer h4 {
  cursor: pointer;
}

.footer ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
}

.footer ul > li {
  padding: 20px 30px;
}

.footer li > a {
  padding: 20px 0; /* 30px */
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer li > a:hover {
  background-color: lightgrey;
}
